<li class="nav-item"><a href="javascript:void(0)" class="nav-link">Select Country</a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='af' %}">Afghanistan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ax' %}">Aland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='al' %}">Albania</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='dz' %}">Algeria</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ad' %}">Andorra</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ao' %}">Angola</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ai' %}">Anguilla</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ag' %}">Antigua and Barbuda</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ar' %}">Argentina</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='am' %}">Armenia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='aw' %}">Aruba</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='au' %}">Australia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='at' %}">Austria</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='az' %}">Azerbaijan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bs' %}">Bahamas</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bh' %}">Bahrain</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bd' %}">Bangladesh</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bb' %}">Barbados</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='by' %}">Belarus</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='be' %}">Belgium</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bz' %}">Belize</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bj' %}">Benin</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bm' %}">Bermuda</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bt' %}">Bhutan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bo' %}">Bolivia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bq' %}">Bonaire Sint Eustatius and Saba</a>
        </li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ba' %}">Bosnia and Herzegovina</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bw' %}">Botswana</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='br' %}">Brazil</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='vg' %}">British Virgin Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bn' %}">Brunei</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bg' %}">Bulgaria</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bi' %}">Burundi</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kh' %}">Cambodia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cm' %}">Cameroon</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ca' %}">Canada</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cv' %}">CapeVerde</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cf' %}">Central African Republic</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='td' %}">Chad</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cl' %}">Chile</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cn' %}">China</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='co' %}">Colombia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cd' %}">Congo</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ck' %}">Cook Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cr' %}">Costa Rica</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='hr' %}">Croatia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cu' %}">Cuba</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cw' %}">Curacao</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cy' %}">Cyprus</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cz' %}">Czechia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='dk' %}">Denmark</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='dj' %}">Dijibouti</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='dm' %}">Dominica</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='do' %}">Dominican Republic</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tl' %}">East Timor</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ec' %}">Ecuador</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='eg' %}">Egypt</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sv' %}">El Salvador</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gq' %}">Equatorial Guinea</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ee' %}">Estonia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='et' %}">Ethiopia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='fo' %}">Faroe Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='fi' %}">Finland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='fr' %}">France</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gf' %}">French Guiana</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pf' %}">French Polynesia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ga' %}">Gabon</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gm' %}">Gambia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ge' %}">Georgia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='de' %}">Germany</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gh' %}">Ghana</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gi' %}">Gibraltar</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gr' %}">Greece</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gl' %}">Greenland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gd' %}">Grenada</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gp' %}">Guadeloupe</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gu' %}">Guam</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gt' %}">Guatemala</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gg' %}">Guernsey</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gn' %}">Guinea</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gw' %}">Guinea-Bissau</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gy' %}">Guyana</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ht' %}">Haiti</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='hn' %}">Honduras</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='hk' %}">Hong Kong</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='hu' %}">Hungary</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='is' %}">Iceland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='in' %}">India</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='id' %}">Indonesia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ir' %}">Iran</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='iq' %}">Iraq</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ie' %}">Ireland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='im' %}">Isle of Man</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='il' %}">Israel</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='it' %}">Italy</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='jm' %}">Jamaica</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='jp' %}">Japan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='je' %}">Jersey</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='jo' %}">Jordan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kz' %}">Kazakhstan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ke' %}">Kenya</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ki' %}">Kiribati</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='xk' %}">Kosovo</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kw' %}">Kuwait</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kg' %}">Kyrgyzstan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='la' %}">Laos</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lv' %}">Latvia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lb' %}">Lebanon</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ls' %}">Lesotho</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lr' %}">Liberia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ly' %}">Libya</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='li' %}">Liechtenstein</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lt' %}">Lithuania</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lu' %}">Luxembourg</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mk' %}">Macedonia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mg' %}">Madagascar</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mw' %}">Malawi</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='my' %}">Malaysia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mv' %}">Maldives</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ml' %}">Mali</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mt' %}">Malta</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mh' %}">Marshall Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mq' %}">Martinique</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mr' %}">Mauritania</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mu' %}">Mauritius</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mx' %}">Mexico</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='md' %}">Moldova</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mc' %}">Monaco</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mn' %}">Mongolia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ma' %}">Morocco</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mz' %}">Mozambique</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mm' %}">Myanmar</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='na' %}">Namibia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='np' %}">Nepal</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='nl' %}">Netherlands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='nz' %}">New Zealand</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ni' %}">Nicaragua</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ng' %}">Nigeria</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='nu' %}">Niue</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='nf' %}">Norfolk Island</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kp' %}">North Korea</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='mp' %}">Northern Mariana Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='no' %}">Norway</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='om' %}">Oman</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pk' %}">Pakistan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pw' %}">Palau</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pa' %}">Panama</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='py' %}">Paraguay</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pe' %}">Peru</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ph' %}">Philippines</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pl' %}">Poland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pt' %}">Portugal</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='pr' %}">Puerto Rico</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='qa' %}">Qatar</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='cg' %}">Republic of the Congo</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='re' %}">Reunion</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ro' %}">Romania</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ru' %}">Russia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='rw' %}">Rwanda</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='bl' %}">Saint Barthelemy</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sh' %}">Saint Helena</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kn' %}">Saint Kitts and Nevis</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lc' %}">Saint Lucia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='vc' %}">Saint Vincent and the Grenadines</a>
        </li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ws' %}">Samoa</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sm' %}">San Marino</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sa' %}">Saudi Arabia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sn' %}">Senegal</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='rs' %}">Serbia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sc' %}">Seychelles</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sl' %}">Sierra Leone</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sg' %}">Singapore</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sx' %}">Sint Maarten</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sk' %}">Slovakia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='si' %}">Slovenia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sb' %}">Solomon Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='so' %}">Somalia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='za' %}">South Africa</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='kr' %}">South Korea</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ss' %}">South Sudan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='es' %}">Spain</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='lk' %}">Sri Lanka</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sd' %}">Sudan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='se' %}">Sweden</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ch' %}">Switzerland</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='sy' %}">Syria</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tw' %}">Taiwan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tj' %}">Tajikistan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tz' %}">Tanzania</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='th' %}">Thailand</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tg' %}">Togo</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tk' %}">Tokelau</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='to' %}">Tonga</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tt' %}">Trinidad and Tobago</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tn' %}">Tunisia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tr' %}">Turkey</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tm' %}">Turkmenistan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='tv' %}">Tuvalu</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='vi' %}">U.S. Virgin Islands</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ug' %}">Uganda</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ua' %}">Ukraine</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ae' %}">United Arab Emirates</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='gb' %}">United Kingdom</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='us' %}">United States</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='uy' %}">Uruguay</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='uz' %}">Uzbekistan</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ve' %}">Venezuela</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='vn' %}">Vietnam</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='ye' %}">Yemen</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='zm' %}">Zambia</a></li>
        <li><a class="dropdown-item" href="{% url 'coutryHomepage' country='zw' %}">Zimbabwe</a></li>
    </ul>
</li>