{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Cpanel Login</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="{% static 'quix/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'quix/css/admin-extra.css' %}" rel="stylesheet">

</head>

<body class="h-100">

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->





    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="javascript:void(0)"> <h4>Login</h4></a>
                                {% for msg in messages %}
                                   <p>{{msg}}</p>
                                {% endfor %}
                                <form class="mt-5 mb-5 login-input" action="{{login}}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Email">
                                        {% if form.is_valid == False%}
                                        {% if form.email.errors %}
                                        <span class="helper-text text-danger">{{ form.email.errors }}</span>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password">
                                        {% if form.is_valid == False%}
                                        {% if form.password.errors %}
                                        <span class="helper-text text-danger">{{ form.password.errors }}</span>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign In</button>
                                </form>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'quix/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'quix/js/custom.min.js' %}"></script>
    <script src="{% static 'quix/js/settings.js' %}"></script>
    <script src="{% static 'quix/js/gleek.js' %}"></script>
    <script src="{% static 'quix/js/styleSwitcher.js' %}"></script>
</body>
</html>
