{% extends 'cpanel.html' %}
{% block css %}
{% load static %}
<link href="{% static 'quix/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css' %}" rel="stylesheet">
<!-- Page plugins css -->
<link href="{% static 'quix/plugins/clockpicker/dist/jquery-clockpicker.min.css' %}" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="{% static 'quix/plugins/jquery-asColorPicker-master/css/asColorPicker.css' %}" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="{% static 'quix/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<!-- Daterange picker plugins css -->
<link href="{% static 'quix/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'quix/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
<style>

</style>
{% endblock %}

{% block content %}
{% load poll_extras %}

{% for msg in messages %}
{{msg}}
{% endfor %}

<h1>Update Event</h1>
<div class="basic-form">
  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" value="{{event.title}}" name="title" class="form-control" placeholder="title"/>
          {% if form.is_valid == False%}
          {% if form.title.errors %}
          <span class="helper-text">{{ form.title.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Slug" value="{{event.slug}}" name="slug" >
          {% if form.is_valid == False%}
          {% if form.slug.errors %}
          <span class="helper-text">{{ form.slug.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
          <textarea class="form-control" placeholder="Body" name="body" class="form-control" placeholder="body">{{event.body}}</textarea>
          {% if form.is_valid == False%}
          {% if form.body.errors %}
          <span class="helper-text">{{ form.body.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
        <select multiple name="select_country" class="form-control" multiple data-live-search="true">
            <option value="">select_country</option>
            <option {% if event.select_country|CheckElementInString:"test1" %} selected {%endif%}>test1</option>
            <option{% if event.select_country|CheckElementInString:"test2" %} selected {%endif%}>test2</option>
            <option{% if event.select_country|CheckElementInString:"test3" %} selected {%endif%}>test3</option>
        </select>
        {% if form.is_valid == False%}
        {% if form.select_country.errors %}
        <span class="helper-text">{{ form.select_country.errors }}</span>
        {% endif %}
        {% endif %}
      </div>
      <div class="form-group">
        <select multiple name="select_cities" class="form-control" multiple data-live-search="true">
            <option value="">select_cities</option>
            <option {% if event.select_cities|CheckElementInString:"test1" %} selected {%endif%}>test1</option>
            <option {% if event.select_cities|CheckElementInString:"test2" %} selected {%endif%}>test2</option>
            <option {% if event.select_cities|CheckElementInString:"test3" %} selected {%endif%}>test3</option>
        </select>
        {% if form.is_valid == False%}
        {% if form.select_cities.errors %}
        <span class="helper-text">{{ form.select_cities.errors }}</span>
        {% endif %}
        {% endif %}
      </div>
      <div class="form-group">
          <textarea name="meta_title" class="form-control" placeholder="meta_title"  cols="30" rows="10">{{event.meta_title}}</textarea>
          {% if form.is_valid == False%}
          {% if form.meta_title.errors %}
          <span class="helper-text">{{ form.meta_title.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
          <textarea name="meta_description" class="form-control" placeholder="meta_description"  cols="30" rows="10">{{event.meta_description}}</textarea>
          {% if form.is_valid == False%}
          {% if form.meta_description.errors %}
          <span class="helper-text">{{ form.meta_description.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="date_time" value="{{event.date_time|date:'Y-m-d H:i:s'}}" placeholder="2017-06-04" id="mdate">
          {% if form.is_valid == False%}
          {% if form.date_time.errors %}
          <span class="helper-text">{{ form.date_time.errors }}</span>
          {% endif %}
          {% endif %}
      </div>
      <div class="form-group">
          <input type="hidden" name="event_id" value="{{event.id}}" />
          <button class="btn btn-dark mb-2" type="submit">Update</button>
      </div>
  </form>
</div>
{% endblock %}


{% block script %}
{% load static%}

<script src="{% static 'quix/plugins/moment/moment.js' %}"></script>
<script src="{% static 'quix/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js' %}"></script>
<!-- Clock Plugin JavaScript -->
<script src="{% static 'quix/plugins/clockpicker/dist/jquery-clockpicker.min.js' %}"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="{% static 'quix/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js' %}"></script>
<script src="{% static 'quix/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js' %}"></script>
<script src="{% static 'quix/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js' %}"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="{% static 'quix/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<!-- Date range Plugin JavaScript -->
<script src="{% static 'quix/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
<script src="{% static 'quix/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'quix/js/plugins-init/form-pickers-init.js' %}"></script>
<script>
  $(document).ready(function(){
    $('select').selectpicker();
  });
</script>
{% endblock %}
