{% extends 'base.html' %}
{% block css %}
<style>
.form-group{
    padding-top: 20px;
    padding-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}
{% load static %}
<div class="page-title-area page-title-style-three item-bg4 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <h2>Contact us</h2>
        </div>
    </div>
</div>
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">            
            <h2>Thanks!!!</h2>
            <p>we recieved your email and will respond shortly</p>
            <br/>
            <span class="sub-title">Contact Us</span>
            <h2>Drop us Message for any Query</h2>

        </div>
    </div>
</section>
{% endblock %}
