<!doctype html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>ULearnSystems</title>
  <link rel="icon" type="image/png" href="{% static 'cpt/img/favicon.png' %}">
  {{content | safe}}
  <link rel="stylesheet" href="{% static 'cpt/css/bootstrap..min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/boxicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/odometer.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/meanmenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/nice-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/viewer.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/slick.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/magnific-popup.min.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'cpt/css/responsive.css' %}">
</head>
<body>

  <section class="login-area">
    <div class="row m-0">
      <div class="col-lg-6 col-md-12 p-0">
        <div class="login-image">
          <img src="{% static 'cpt/img/black-logo.png' %}" alt="logo">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 p-0">
        <div class="login-content">
          <div class="d-table">
            <div class="d-table-cell">
              <div class="login-form">
                <div class="logo">
                  <a href="{% url 'homepage' %}">
                    <img src="{% static 'cpt/img/black-logo.png' %}" alt="logo">
                  </a>
                </div>
                <h3>Welcome back</h3>
                <p>New to ULearnSystems? <a href="{% url 'register' %}" class="text-primary">Sign up</a></p>


                   {% for msg in messages %}
                      <p>{{msg}}</p>
                   {% endfor %}


                <form action="{{register}}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="email" placeholder="Your email address" name="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" placeholder="Your password" class="form-control">
                  </div>
                  <button type="submit">Login</button>
                  <div class="forgot-password">
                    <a href="{% url 'reset_password' %}">Forgot Password?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{% static 'cpt/js/jquery.min.js' %}"></script>
  <script src="{% static 'cpt/js/popper.min.js' %}"></script>
  <script src="{% static 'cpt/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'cpt/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'cpt/js/mixitup.min.js' %}"></script>
  <script src="{% static 'cpt/js/parallax.min.js' %}"></script>
  <script src="{% static 'cpt/js/jquery.appear.min.js' %}"></script>
  <script src="{% static 'cpt/js/odometer.min.js' %}"></script>
  <script src="{% static 'cpt/js/particles.min.js' %}"></script>
  <script src="{% static 'cpt/js/meanmenu.min.js' %}"></script>
  <script src="{% static 'cpt/js/jquery.nice-select.min.js' %}"></script>
  <script src="{% static 'cpt/js/viewer.min.js' %}"></script>
  <script src="{% static 'cpt/js/slick.min.js' %}"></script>
  <script src="{% static 'cpt/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'cpt/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'cpt/js/form-validator.min.js' %}"></script>
  <script src="{% static 'cpt/js/contact-form-script.js' %}"></script>
  <script src="{% static 'cpt/js/main.js' %}"></script>
</body>
</html>
