{% extends 'base.html' %}
{% block meta_title %}
{{course.meta_title}}
{% endblock %}
{% block meta_keywords %}
<meta name="keywords" content="{{course.meta_keywords}}">
{% endblock %}
{% block meta_description %}
<meta name="description" content="{{course.meta_description}}">
{% endblock %}

{% block css %}
<style>
.inner-pre{
  font-family: poppins, sans-serif;
}
</style>
{% endblock %}

{% block content %}
{% load static %}
  <section class="banner-wrapper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="wrapper-content">
            <h1>Corporate Training - {{course.course_name}}</h1>
            <p class="ptb-10">{{course.course_description}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="business-banner-image">
            <img src="{% static 'cpt/img/banner-img4.png' %}" alt="image">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="product-details-area pb-70">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 col-md-12">
          <div class="tab products-details-tab">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <ul class="tabs">
                  <li><a href="#">
                    <div class=""></div> Course Overview
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> Key Features
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> Syllabus
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> Training Dates & Prices
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> FAQS
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> Corporate Training
                  </a></li>
                  <li><a href="#">
                    <div class=""></div> Enquire Now
                  </a></li>
                </ul>
              </div>
              <div class="col-lg-12 col-md-12">
                <div class="tab-content">
                  <div class="tabs-item">
                    <div class="row">
                      <div class="col-lg-7 col-md-6 col-sm-6">
                        <div class="products-details-tab-content">
                          <p class="inner-pre">{{course.course_description}}.</p>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                          <pre>
                            <span class="inner-pre">
                              {{course.course_key_features}}
                            </span>
                          </pre>
                          <!-- <div class="about-text">

                            <ul class="features-list">
                              <li><i class='bx bx-check'></i> Activate Listening</li>
                              <li><i class='bx bx-check'></i> Brilliant minds</li>
                              <li><i class='bx bx-check'></i> Better. Best. Wow!</li>
                              <li><i class='bx bx-check'></i> Branding it better!</li>
                            </ul>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                        <h3 class="ptb-10 text-center">Syllabus:</h3>
                          <div class="row">
                            <div class="col-md-12">
                              {{course.course_syllabus}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      <div class="about-inner-area1">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <pre>
                              <span class="inner-pre">
                                {{course.what_you_learn}}
                              </span>
                            </pre>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      <div class="faq-accordion">
                        <ul class="accordion">
                          <li class="accordion-item">
                            <a class="accordion-title active" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i>
                              What’s the difference between a college and a university?
                            </a>
                            <div class="accordion-content show">
                              <p>Colleges offer only undergraduate degrees while universities offer graduate degrees as well, but the terms are often used interchangeably.</p>
                            </div>
                          </li>
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i>
                              What are the different types of undergraduate degrees?
                            </a>
                            <div class="accordion-content">
                              <p>Associate: a two-year program that either leads to a specific vocation or transitions to a bachelor program. Bachelor: a four or five-year program where students earn credits in a wide variety of courses.</p>
                            </div>
                          </li>
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i>
                              What are the different types of graduate degrees?
                            </a>
                            <div class="accordion-content">
                              <p>Masters: two-year degree providing additional specialization. Doctorate: five to eight-year program certifying the student as a trained research scholar and/or professor.</p>
                            </div>
                          </li>
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i>
                              Can you work while studying in the United States?
                            </a>
                            <div class="accordion-content">
                              <p>With permission of the International Student Office, international students may work on campus up to 20 hours/week their first year and can apply to work off-campus in subsequent years.</p>
                            </div>
                          </li>
                          <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
                              <i class='bx bx-chevron-down'></i>
                              What is distance education?
                            </a>
                            <div class="accordion-content">
                              <p>Distance education occurs when a student and an instructor are in different places. Learning occurs by mail, telephone, internet, or by other means.</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      <div class="row">
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-md-6">
                          <div class="single-learning-box1">
                            <div class="icon">
                              <img src="{% static 'cpt/img/document.png' %}">
                            </div>
                            <h5>Prince2 Foundation Course</h5>
                            <a href="#" class="default-btn">
                              <span class="label">Select Cource</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tabs-item">
                    <div class="products-details-tab-content">
                      {% if count < 1 %}
                        <a href="{% url 'register.training.enroll' %}?id={{course.id}}" class="btn btn-primary"  name="button">Enroll with this course</a>
                      {% else %}
                        <p>You have already enrolled into this course.</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  {% endblock %}
